body {
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  margin: 0 auto;
  max-width: 980px;
}

main .container {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* ==================== */
/* ====== Header ====== */
/* ==================== */
header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  height: 1.7em;
}

header .logo,
header button {
  width: 10em;
}

header button {
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 25px;
  padding: 0 1em;
  background-color: inherit;
  color: hsl(322, 100%, 66%);
}

/* ===================== */
/* ====== Landing ====== */
/* ===================== */
.landing {
  text-align: center;
  background-image: url("../images/bg-section-top-desktop-1.svg");
  background-size: contain;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  padding: 4em 0;
}

.landing h1 {
  font-size: 2em;
}

.landing p {
  font-weight: 400;
  margin: 0 auto;
  width: 50%;
}

.cta-button {
  border: none;
  border-radius: 25px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-weight: 700;
  padding: 1em 3em;
  margin: 3em 0;
}

.landing img {
  width: 100%;
  margin: 3em 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 0 4em;
  padding-bottom: 10em;
}

.stats div {
  text-align: left;
  padding: 0px;
}

.stats img {
  width: 25%;
  padding: 0;
  margin: 0;
}

.stats h2 {
  font-size: 4em;
  padding: 0;
  margin: 0;
}

.stats div p {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  opacity: 0.5;
  padding: 0;
}

/* ==================== */
/* ===== Sections ===== */
/* ==================== */
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(207, 100%, 98%);
  height: 50vh;
  padding: 4em;
}

.section article,
.section img {
  width: 25%;
  flex-grow: 1;
  padding: 0 2em;
}

.section-two {
  flex-direction: row-reverse;
  background-color: #fff;
  background-image: url("../images/bg-section-bottom-desktop-1.svg"), url("../images/bg-section-top-desktop-2.svg");
  background-position: 0 top, 0 bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: contain;
  padding: 10em 0;
}

/* ===================== */
/* ====== Closing ====== */
/* ===================== */
.closing {
  text-align: center;
  background-image: url("../images/bg-section-bottom-desktop-2.svg"), url("../images/bg-footer-top-desktop.svg");
  background-size: contain;
  background-position: 0 top, 0 bottom;
  background-repeat: repeat-x, repeat-x;
}

.closing h1 {
  margin-top: 6em;
}

.closing button {
  margin-bottom: 10em;
}

/* ==================== */
/* ====== Footer ====== */
/* ==================== */
footer {
  display: flex;
  justify-content: space-between;
  padding: 4em;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
}

footer section {
  width: 40%;
}

.contact h2 {
  display: inline;
  padding-left: 5px;
}

.contact img {
  width: 1.5em;
}

.contact .fas {
  padding-right: 0.5em;
}

footer .social {
  margin: 2em 0;
  padding-left: 0;
}

footer .social li {
  display: inline-block;
  font-size: 2em;
  margin-right: 0.5em;
}

.newsletter form {
  display: flex;
  justify-content: space-between;
}

.subscribe input {
  border: none;
  border-radius: 5px;
  padding: 0.5em 2em;
  margin: 1em 1em 1em 0;
}

.subscribe button {
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 5px;
  padding: 0.5em 2em;
  margin: 1em;
  background-color: inherit;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-weight: 700;
}

/* ===================== */
/* === Media Queries === */
/* ===================== */
@media screen and (max-width: 980px) {
  .newsletter form {
    flex-direction: column;
  }

  .newsletter form input,
  .newsletter form button {
    height: 48px;
  }

  .subscribe button {
    width: 50%;
    align-self: flex-end;
  }
} /* End (max-width: 980px) */

@media screen and (min-width: 375px) and (max-width: 660px) {
  /* ==================== */
  /* ====== Header ====== */
  /* ==================== */
  header {
    height: 1.5em;
  }

  header .logo,
  header button {
    width: 8em;
  }

  /* ===================== */
  /* ====== Landing ====== */
  /* ===================== */
  .landing p,
  .landing img {
    width: 90%;
  }

  .landing {
    width: 100%;
  }

  .stats {
    flex-direction: column;
  }

  .stats div {
    margin: 4em 0;
  }

  .stats img {
    width: 10%;
    padding-left: 20%;
  }

  .stats h2 {
    text-align: center;
  }

  /* ==================== */
  /* ===== Sections ===== */
  /* ==================== */
  .section {
    flex-direction: column-reverse;
    padding: 4em 1em;
    height: 100vh;
  }

  .section article {
    text-align: center;
    padding:2em 0;
    width: 100%;
  }

  .section img {
    padding-top: 5em;
    width: 90%;
  }

  /* ===================== */
  /* ====== Closing ====== */
  /* ===================== */
  .closing {
    margin-bottom: -1px;
  }

  .closing h1 {
    margin-top: 3em;
  }

  /* ==================== */
  /* ====== Footer ====== */
  /* ==================== */
  footer {
    flex-direction: column-reverse;
    padding: 2em 2em 0 2em;
  }

  footer section {
    width: 100%;
    padding: 2em 0;
  }

  .subscribe button {
    font-size: 1em;
  }

  .contact h2 {
    font-size: 3em;
  }

  .contact img {
    width: 3em;
  }

  .contact p:first-of-type {
    margin-top: 0;
    margin-bottom: 3em;
  }

  footer .social {
    margin-top: 3em;
    margin-bottom: 1em;
  }

  footer .social li {
    width: 48px;
    height: 48px;
    margin-right: 0;
  }

} /* End (min-width: 375px) and (max-width: 660px) */
